@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: table;
}

div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

html {
}

/*glow for webkit*/

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px #fff,
        0 0 12px #fff,
        0 0 14px #fff,
        0 0 24px #ffd85b,
        0 0 44px #ffd85b,
        0 0 50px #ffd85b,
        0 0 68px #ffd85b,
        0 0 84px #ffd85b;
    }
    to {
        text-shadow: 0 0 3px #fff,
        0 0 5px #fff,
        0 0 11px #fff,
        0 0 19px #ffd85b,
        0 0 36px #ffd85b,
        0 0 40px #ffd85b,
        0 0 50px #ffd85b,
        0 0 64px #ffd85b;
    }
}

@-webkit-keyframes off {
    from {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
    to {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
}

/*glow for mozilla*/

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 6px #fff,
        0 0 12px #fff,
        0 0 14px #fff,
        0 0 24px #ffd85b,
        0 0 44px #ffd85b,
        0 0 50px #ffd85b,
        0 0 68px #ffd85b,
        0 0 84px #ffd85b;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 9px #fff,
        0 0 11px #fff,
        0 0 19px #ffd85b,
        0 0 36px #ffd85b,
        0 0 40px #ffd85b,
        0 0 50px #ffd85b,
        0 0 64px #ffd85b;
    }
}

@-moz-keyframes off {
    from {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
    to {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
}

/*glow*/

@keyframes neon {
    from {
        text-shadow: 0 0 6px #fff,
        0 0 12px #fff,
        0 0 14px #fff,
        0 0 24px #ffd85b,
        0 0 44px #ffd85b,
        0 0 50px #ffd85b,
        0 0 68px #ffd85b,
        0 0 84px #ffd85b;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 9px #fff,
        0 0 11px #fff,
        0 0 19px #ffd85b,
        0 0 36px #ffd85b,
        0 0 40px #ffd85b,
        0 0 50px #ffd85b,
        0 0 64px #ffd85b;
    }
}

@keyframes off {
    from {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
    to {
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    }
}

